In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
# SocialDistance = ['사회적거리두기1','사회적거리두기1','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기1','사회적거리두기1','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2',
#                               '사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2','사회적거리두기2',
#                               '사회적거리두기2','사회적거리두기2'] #사회적 거리두기 리스트 생성

In [4]:
df = pd.date_range('2019-01-01', periods = 731, freq = 'D') #월별 날짜 데이터 생성

In [5]:
df = pd.DataFrame(df, columns = ['Date']) #컬럼명 지정

In [6]:
# dates['social_dst'] = SocialDistance

In [7]:
df['social_dst'] = np.NaN

In [8]:
df = df.fillna(1)

In [9]:
filtered_df = df[df["Date"].isin(pd.date_range('2020-02-29', '2020-05-05'))]
filtered_df1 = df[df["Date"].isin(pd.date_range('2020-08-16', '2020-10-11'))]
filtered_df2 = df[df["Date"].isin(pd.date_range('2020-11-24', '2020-12-31'))]

In [10]:
filtered_df2

          Date  social_dst
693 2020-11-24         1.0
694 2020-11-25         1.0
695 2020-11-26         1.0
696 2020-11-27         1.0
697 2020-11-28         1.0
698 2020-11-29         1.0
699 2020-11-30         1.0
700 2020-12-01         1.0
701 2020-12-02         1.0
702 2020-12-03         1.0
703 2020-12-04         1.0
704 2020-12-05         1.0
705 2020-12-06         1.0
706 2020-12-07         1.0
707 2020-12-08         1.0
708 2020-12-09         1.0
709 2020-12-10         1.0
710 2020-12-11         1.0
711 2020-12-12         1.0
712 2020-12-13         1.0
713 2020-12-14         1.0
714 2020-12-15         1.0
715 2020-12-16         1.0
716 2020-12-17         1.0
717 2020-12-18         1.0
718 2020-12-19         1.0
719 2020-12-20         1.0
720 2020-12-21         1.0
721 2020-12-22         1.0
722 2020-12-23         1.0
723 2020-12-24         1.0
724 2020-12-25         1.0
725 2020-12-26         1.0
726 2020-12-27         1.0
727 2020-12-28         1.0
728 2020-12-29         1.0
729 2020-12-30         1.0
730 2020-12-31         1.0

In [11]:
df.iloc[424:491, 1] = 2

In [12]:
df.iloc[593:650, 1] = 2

In [13]:
df.iloc[693:731, 1] = 2

In [14]:
df['social_dst'].sum()

893.0

In [15]:
df.to_csv('social_dst.csv')

In [25]:
dfdf = pd.date_range('2019-01-01', '2020-12-31', freq = 'QS')

In [26]:
dfdf = pd.DataFrame(dfdf, columns = ['year_qtr'])

In [27]:
dfdf

    year_qtr
0 2019-01-01
1 2019-04-01
2 2019-07-01
3 2019-10-01
4 2020-01-01
5 2020-04-01
6 2020-07-01
7 2020-10-01

In [30]:
dates_dummies.columns = ['social_dst']

In [15]:
dates['social_dst'] = dates_dummies

In [16]:
dates

         Date  social_dst
0  2019-01-31           0
1  2019-02-28           0
2  2019-03-31           1
3  2019-04-30           1
4  2019-05-31           1
5  2019-06-30           0
6  2019-07-31           0
7  2019-08-31           1
8  2019-09-30           1
9  2019-10-31           1
10 2019-11-30           1
11 2019-12-31           1
12 2020-01-31           1
13 2020-02-29           1
14 2020-03-31           1
15 2020-04-30           1
16 2020-05-31           1
17 2020-06-30           1
18 2020-07-31           1
19 2020-08-31           1
20 2020-09-30           1
21 2020-10-31           1
22 2020-11-30           1
23 2020-12-31           1

In [17]:
holiday = ['없음','설/추석','없음','없음','없음','없음','없음','없음','설/추석','없음','없음','없음','없음','설/추석',
          '없음','없음','없음','없음','없음','없음','설/추석','없음','없음','없음'] #홀리데이 리스트 생성

In [20]:
holidays_dummies = pd.get_dummies(holiday, dummy_na=False, sparse=True, drop_first=True, columns = ['holidays']) # 1개 변수 원 핫 인코딩

In [22]:
holidays_dummies.columns = ['holidays']

In [29]:
holidays_dummies

    holidays
0          1
1          0
2          1
3          1
4          1
5          1
6          1
7          1
8          0
9          1
10         1
11         1
12         1
13         0
14         1
15         1
16         1
17         1
18         1
19         1
20         0
21         1
22         1
23         1

In [27]:
dates['holidays'] = holidays_dummies

In [28]:
dates

         Date  social_dst  holidays
0  2019-01-31           0         1
1  2019-02-28           0         0
2  2019-03-31           1         1
3  2019-04-30           1         1
4  2019-05-31           1         1
5  2019-06-30           0         1
6  2019-07-31           0         1
7  2019-08-31           1         1
8  2019-09-30           1         0
9  2019-10-31           1         1
10 2019-11-30           1         1
11 2019-12-31           1         1
12 2020-01-31           1         1
13 2020-02-29           1         0
14 2020-03-31           1         1
15 2020-04-30           1         1
16 2020-05-31           1         1
17 2020-06-30           1         1
18 2020-07-31           1         1
19 2020-08-31           1         1
20 2020-09-30           1         0
21 2020-10-31           1         1
22 2020-11-30           1         1
23 2020-12-31           1         1