In [1]:
import pandas as pd

In [2]:
a = pd.read_csv('./소매업.csv')

In [3]:
a.columns

Index(['행정구역', '생활밀접업종', '개업수', '폐업수', '개업률', '폐업률'], dtype='object')

In [4]:
indexNames = a[a['생활밀접업종'] == '전체' ].index

In [5]:
df = a.drop(indexNames, axis = 0 )

In [6]:
df.reset_index(drop = True, inplace = True)

In [7]:
dfdf = df.loc[:, '행정구역']

In [8]:
# dfdf.head(50)

In [9]:
# year = [('2017 ' * 42)*4, ('2018 ' * 42)*4, ('2019 ' * 42)*4,('2020 ' * 42)*4]

In [10]:
year1 = ['2017'] * 42
year2 = ['2018'] * 42
year3 = ['2019'] * 42
year4 = ['2020'] * 42
qtr1 = ['1'] * 42
qtr2 = ['2'] * 42
qtr3 = ['3'] * 42
qtr4 = ['4'] * 42

In [11]:
year = (year1 * 4) + (year2 * 4) + (year3 * 4) + (year4 * 4)
qtr = qtr1 + qtr2 + qtr3 + qtr4
qtr = qtr * 4

In [13]:
year = pd.DataFrame(year)
qtr = pd.DataFrame(qtr)

In [14]:
year

        0
0    2017
1    2017
2    2017
3    2017
4    2017
..    ...
667  2020
668  2020
669  2020
670  2020
671  2020

[672 rows x 1 columns]

In [15]:
year.columns = ['year']
qtr.columns = ['qtr']

In [16]:
df

        행정구역 생활밀접업종    개업수    폐업수  개업률  폐업률
0     서울시 전체   소매업/  7,733  9,565  3.0  3.8
1        종로구   소매업/    273    369  2.2  2.9
2         중구   소매업/    972  1,069  3.2  3.5
3        용산구   소매업/    233    374  2.3  3.7
4        후암동   소매업/      8      8  3.0  3.0
..       ...    ...    ...    ...  ...  ...
667      관악구   소매업/    133    144  2.0  2.1
668      서초구   소매업/    195    205  1.4  1.5
669      강남구   소매업/    361    381  1.8  1.9
670      송파구   소매업/    267    300  1.6  1.8
671      강동구   소매업/    168    158  2.1  2.0

[672 rows x 6 columns]

df.columns =['year','행정구역', '생활밀접업종', '개업수', '폐업수', '개업률', '폐업률']

In [17]:
df = pd.concat([qtr, df], ignore_index = True, axis = 1)
df = pd.concat([year, df], ignore_index = True, axis = 1)

In [18]:
df.columns =['year','qtr','행정구역', '생활밀접업종', '개업수', '폐업수', '개업률', '폐업률']

In [19]:
df

     year qtr     행정구역 생활밀접업종    개업수    폐업수  개업률  폐업률
0    2017   1   서울시 전체   소매업/  7,733  9,565  3.0  3.8
1    2017   1      종로구   소매업/    273    369  2.2  2.9
2    2017   1       중구   소매업/    972  1,069  3.2  3.5
3    2017   1      용산구   소매업/    233    374  2.3  3.7
4    2017   2      후암동   소매업/      8      8  3.0  3.0
..    ...  ..      ...    ...    ...    ...  ...  ...
667  2020   3      관악구   소매업/    133    144  2.0  2.1
668  2020   4      서초구   소매업/    195    205  1.4  1.5
669  2020   4      강남구   소매업/    361    381  1.8  1.9
670  2020   4      송파구   소매업/    267    300  1.6  1.8
671  2020   4      강동구   소매업/    168    158  2.1  2.0

[672 rows x 8 columns]

In [20]:
df.생활밀접업종.replace('소매업/', '소매업', inplace = True)

In [21]:
df.to_excel('소매업.xlsx')